include indexView.pug 


p #{boel.titel}

p #{boek.auteur}

p #{boek.uitgever}

p #{boek.bladzijden}

for tagsGenre in boek.tagsGenre 
    li= tagsGenre 

for tagsLeeftijd in boek.tagsLeeftijd
    li= tagsLeeftijd 


for review in boek.reviews 
    li= review

if (review.bezoeker._id=req.user)
    a(href='/review/'edit._id'+/edit')
        button delte


if (review.bezoeker._id=req.user)
    a(href='/review/'review._id'+/delete?_method=DELETE')
        button delete
